.aboutScreen {
  background-color: #272727;
  border-top: 1px solid #7327cf5e;
}

.background-rgadient {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.6) 10%,
    rgba(0, 0, 0, 0.3) 25%,
    rgba(0, 0, 0, 0) 60%
  );
}

.about-container {
  display: grid;
  grid-template-columns: 45% 55%;
  gap: 10px;
}

.about-text {
  color: white;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(255, 255, 255, 0.05) 25%,
    rgba(255, 255, 255, 0) 70%
  );
}

.about-text h4 {
  font-size: var(--font-size-bigger);
}

.about-text p {
  font-size: var(--font-size-med);
  line-height: 1.2;
}

.about-text .text-row-2 {
  opacity: 70%;
  font-weight: 300;
}

.about-text .text-row-3 {
  opacity: 50%;
  font-weight: 200;
}

.laptopImg {
  width: 90%;
}

.learn-more-circle {
  background-color: #7327cf;
  width: 200px;
  height: 200px;
  right: 7vw;
  top: 50px;
}

.circle-text-container {
  color: white;
  padding: 10%;
  line-height: 1.1;
  font-size: var(--font-size-small);
}

.full-width-line {
  height: 2px;
  background-color: rgb(255, 255, 255);
  border: none;
  margin: 0;
  margin-bottom: 5%;
  margin-top: 3%;
}

@media (max-width: 990px) {
  .about-text p {
    line-height: 1.7;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-img {
    position: relative;
    margin-top: 5%;
  }

  .circle-text-container p {
    font-size: 30px;
  }

  .circle-text-container {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 5%;
  }

  .about-text {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.1) 10%,
      rgba(255, 255, 255, 0.05) 25%,
      rgba(255, 255, 255, 0) 70% /* Полностью исчезает */
    );
  }

  .learn-more-circle {
    top: -70px;
  }
}

@media (max-width: 768px) {
  .learn-more-circle {
    width: 45vw;
    height: 45vw;
  }
}

@media (max-width: 430px) {
  .learn-more-circle {
    width: 40vw;
    height: 40vw;
  }

  .about-text p {
    line-height: 1.2;
  }

  .circle-text-container p {
    font-size: 15px;
  }
}
