* {
  box-sizing: border-box;
}

html,
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.full-screen {
  height: 100vh;
  width: 100vw;
}

.no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

:root {
  --text-primary: #ffffff;
  --text-secondary: #919191;
  --text-primary-purple: #7227cf;

  --primary-purple: #7227cf;
  --secondary-purple: #7327cf67;

  --background-primary: #ffffff;
  --background-black: #222121;
  --background-purple: #7227cf;

  --font-size-small: 1.3rem;
  --font-size-med: 2.3rem;
  --font-size-big: 3.3rem;
  --font-size-bigger: 4.3rem;

  /* animation */
  --scale-hover: scale(1.2);
}

@media (max-width: 768px) {
  :root {
    --font-size-small: 1rem;
    --font-size-med: 2rem;
    --font-size-big: 2.5rem;
    --font-size-bigger: 3rem;
  }
}

@media (max-width: 480px) {
  :root {
    --font-size-small: 0.7rem;
    --font-size-med: 1.7rem;
    --font-size-big: 2.7rem;
    --font-size-bigger: 3.7rem;
  }
}
